<div class="centered-content">
  <div class="userLogin">
    <p *ngIf="user == ''">Gib deinen User-Id ein, um auf deine Kühlgeräte zugreifen zu können!</p>
    <input type="text" value="" id="selectUser">
    <button id="okButton" class="fridgeButton" (click)="setUser()"> Einloggen </button>
  </div>
  <div *ngIf="user != ''" class="container">
    <div class="fridges">
      <div class="topbar">
        <h1 class="title"> Kühlgeräte </h1>
      </div>
      <div class="sidebar">
        <div class="fridgesList">
          <div class="alert" *ngIf="bot == false">
            <p>Achtung! Du hast den <a href="https://web.telegram.org/#/im?p=@KuehlschrankMonitoringBot"
                target="_blank">Kühlmonitoring Telegram Bot</a> noch nicht abonniert!</p>
            <p><a routerLink="/info">Hier</a> findest du eine genaue Erklärung dazu! </p>
          </div>
          <div *ngFor="let item of fridgeNames" class="general">
            <div class="fridgeList-item">
              <div [ngClass]="item['configured'] && item['tempOk'] && item['humOk'] ? 'configured' : 'unconfigured'">
                {{item['name'] != "" ? item['name'] : item['mac'] + ": Kühlschrank wurde noch nicht definiert"}}
              </div>
              <div class="buttons">
                <button class="fridgeButton" (click)="showData(fridgeNames.indexOf(item))">
                  {{!item['openData'] ? "Sensordaten" :
                  "Schließen" }} </button>
                <button [ngClass]="item['configured'] || item['openConfig'] ? 'fridgeButton' : 'fridgeButton-red'"
                  (click)="item['openConfig'] = !item['openConfig']; item['openData'] = false"> {{!item['openConfig'] ?
                  "Konfigurieren" :
                  "Schließen" }} </button>
              </div>
            </div>
            <div *ngIf="item['openData']" class="extra">
              <div class="labels">
                <div><label for="von">von: </label>
                  <input type="date" id="{{fridgeNames.indexOf(item)}}.von"
                    value="{{sensordata[fridgeNames.indexOf(item)] != undefined ? dayArray[fridgeNames.indexOf(item)][0] : '2021-01-01'}}"
                    min="{{sensordata[fridgeNames.indexOf(item)] != undefined ? sensordata[fridgeNames.indexOf(item)][0]['day']: '2021-01-01'}}"
                    max="{{sensordata[fridgeNames.indexOf(item)] != undefined ? sensordata[fridgeNames.indexOf(item)][this.sensordata[fridgeNames.indexOf(item)].length-1]['day']: '2021-12-31'}}">
                </div>
                <div>
                  <label for="bis">bis: </label>
                  <input type="date" id="{{fridgeNames.indexOf(item)}}.bis"
                    value="{{sensordata[fridgeNames.indexOf(item)] != undefined ? dayArray[fridgeNames.indexOf(item)][dayArray[fridgeNames.indexOf(item)].length - 1]: '2021-12-31'}}"
                    min="{{sensordata[fridgeNames.indexOf(item)] != undefined ? sensordata[fridgeNames.indexOf(item)][0]['day']: '2021-01-01'}}"
                    max="{{sensordata[fridgeNames.indexOf(item)] != undefined ? sensordata[fridgeNames.indexOf(item)][this.sensordata[fridgeNames.indexOf(item)].length-1]['day']: '2021-12-31'}}">
                </div>
              </div>
              <button (click)="filter(fridgeNames.indexOf(item))" class="fridgeButton">Filter anwenden</button>
              <canvas class="chart" baseChart
                [datasets]="[{data: tempArray[fridgeNames.indexOf(item)], label:'Temperatur', fill:'false'}]"
                [labels]="timeArray[fridgeNames.indexOf(item)]" [options]="lineChartOptionsTemp"
                [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType"
                [plugins]="lineChartPlugins">
              </canvas>
              <canvas class="chart" baseChart
                [datasets]="[{data: humArray[fridgeNames.indexOf(item)], label:'Luftfeuchtigkeit', fill:'false'}]"
                [labels]="timeArray[fridgeNames.indexOf(item)]" [options]="lineChartOptionsHum"
                [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType"
                [plugins]="lineChartPlugins">
              </canvas>
            </div>
            <div *ngIf="item['openConfig']" class="extra">
              <div class="inputs">
                <div> Mac-Adresse: {{item['mac']}} </div>
                <div> Name: <input type="text" value="{{item['name']}}" id="{{fridgeNames.indexOf(item)}}.name">
                </div>
                <div> Kühlgerät-Id: <input type="text" value="{{item['fridgeId']}}"
                    id="{{fridgeNames.indexOf(item)}}.fridgeId"> </div>
                <div> Mindest Temperatur: <input type="number" value="{{item['minTemp']}}"
                    id="{{fridgeNames.indexOf(item)}}.minTemp"> </div>
                <div> Maximal Temperatur: <input type="number" value="{{item['maxTemp']}}"
                    id="{{fridgeNames.indexOf(item)}}.maxTemp"> </div>
                <div> Mindest Luftfeuchtigkeit: <input type="number" value="{{item['minHum']}}"
                    id="{{fridgeNames.indexOf(item)}}.minHum"> </div>
                <div> Maximal Luftfeuchtigkeit: <input type="number" value="{{item['maxHum']}}"
                    id="{{fridgeNames.indexOf(item)}}.maxHum"> </div>
              </div>
              <div class="confButtons">
                <button style="margin-left: 0px;" (click)="deleteFridge(item['mac'])" class="fridgeButton">Kühlgerät löschen</button>
                <div>
                  <button (click)="item['openConfig'] = false;" class="fridgeButton-abbrechen"> Abbrechen </button>
                  <button (click)="item['openConfig'] = false; fridgeUpdate(fridgeNames.indexOf(item))"
                    class="fridgeButton"> Kühlgerät Speichern
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
