<div class="centered-content">
  <p>Eingeloggt als User: {{userId.userId}}</p>
  <div class="container">
    <div class="fridges">
      <div class="topbar">
        <h1 class="title"> Kühlgeräte </h1>
      </div>
      <div class="sidebar">
        <div class="fridgesList">
          <div *ngFor="let item of fridges" class="fridgeList-item">
            <div *ngIf="item[1]">
              <div class="configured">{{item[0]}}</div>
            </div>
            <div *ngIf="!item[1]">
              <div class="unconfigured">{{item[0]}}</div>
            </div>
            <div class="buttons">
              <button class="fridgeButton" *ngIf="item[1]"> Sensordaten </button>
              <button class="fridgeButton"> Konfigurieren </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
