.info{
  padding: 20px;
  margin: auto;
  margin-top: 20px;
  width: 50%;
  box-shadow: 0px 0px 10px grey;
}

// .images{
//   align-content: space-around;
// }

.img{
  margin: 5px;
  width: 18%;
}

@media (max-width:600px) {
  .info{
    padding: 10px;
    margin-top: 0px;
    width: 100%;
  }
}
