<div class="info">
  <h1>Telegram Monitoring Bot abonnieren</h1>
  <p>
    Um Benachrichtigungen bei Fehlerverhalten der Kühlgeräte zu erhalten, muss der Monitoring Bot auf Telegram
    abonniert
    werden. Folgende Schritte sind dafür nötig:
  </p>
  <ul>
    <li>
      Der <a href="https://web.telegram.org/#/im?p=@KuehlschrankMonitoringBot">Monitoring Bot</a> ist öffentlich
      zugänglich und abonnierbar.
    </li>
    <li>
      Auf Telegram kann die Suchfunktion verwendet werden, um den Bot zu finden.
      Tippe im Suchfeld "Kuehlschrankmonitoring" ein. Es sollte ein Bot namens "Temperatur Monitoring" vorgeschlagen
      werden.
    </li>
    <li>
      Drücke auf den Bot und anschließend auf Starten.
    </li>
    <li>
      Um das Abonnieren abzuschließen, gib deine Client-Id ein.
      Der Vorgang ist abgeschlossen, wenn dein Name und Client-Id in der Antwort vom Bot zu finden sind.
    </li>
  </ul>
  <div class="images">
    <img class="img" src="../../../assets/Telegram1.png" alt="Telegram-Erklärung">
    <img class="img" src="../../../assets/Telegram2.png" alt="Telegram-Erklärung">
    <img class="img" src="../../../assets/Telegram3.png" alt="Telegram-Erklärung">
    <img class="img" src="../../../assets/Telegram4.png" alt="Telegram-Erklärung">
    <img class="img" src="../../../assets/Telegram5.png" alt="Telegram-Erklärung">
  </div>
</div>
